html {
    background-color: #091A2E;
    color: #CECFD0 !important
}

ul:hover {
    cursor: pointer;
    background-color: #163963;
}

ul {
    background-color: #1A2940;
    border-radius: 25px;
}

.MuiButtonBase-root {
    background-color: #CECFD0 !important;
    min-width: 36px !important;
    border-radius: 50px !important;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftColumn {
    width: 25vw;
}

.rightColumn {
    width: 25vw;
    overflow: scroll;
    max-height: 95vh;
    margin-top: 32px;
}
