html {
    background-color: #091A2E;
    color: #CECFD0 !important
}

.toastyTitle {
    text-align: center;
    font-size: 5em;
    margin-top: 16px;
    margin-bottom: 16px;
}

.countText {
    text-align: center;
    margin-bottom: 32px;
}

ul:hover {
    cursor: pointer;
    background-color: #904647;
}

ul {
    background-color: #1A2940;
    border-radius: 25px;
}

.MuiButtonBase-root {
    background-color: #CECFD0 !important;
    min-width: 36px !important;
    border-radius: 50px !important;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftColumn {
    width: 35vw;
    margin-right: 16px;
}

.rightColumn {
    width: 35vw;
    overflow: scroll;
    max-height: 95vh;
    margin-top: 32px;
    margin-left: 16px;
    margin-top: 176.72px;
}

.form {
    background-color: #CECFD0 !important;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.search {
    width: 100%;
    margin-top: 32px !important;
}

.divider {
    background-color: #CECFD0 !important;
}
